*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.relogio{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    flex-direction: column;

}

.display{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border: 10px solid rgb(238, 14, 14);
    border-radius: 30px;
    width: 350px;
    height: 250px;
    font-size: 85px;
}
footer{
    margin-top: 20px;
    font-size: 30px;
}